<template>
    <div>
        <div>
            <v2-table :data="rows" border :lazy-load="true" :height=options.table_height unique-field="index"
                      :loading="loading" :default-sort='{prop: "index", order: "default"}'
                      @sort-change="handleSortChange">
                <!-- <div slot="loading">custom loading component</div> -->
                <v2-table-column v-for="(header,index) in headers"
                                 :key="index"
                                 :label=header.label
                                 :prop=header.prop
                                 :column_type=header.type
                                 :width=header.width
                                 :fixed=header.fixed
                                 :align=header.align
                                 :sortable=header.sortable></v2-table-column>
            </v2-table>
        </div>
        <div>
            <button @click="handleFilter">Filter</button>
        </div>
    </div>
</template>

<script>
import {getSortFunction} from "./sort-functions";
import {getFilterFunction} from "./filters";
import * as R from 'ramda';


export default {
        name: 'vue-grid',
        props: {
            rows: {
                type: Array,
                default: () => [],
                required: true
            },
            headers: {
                type: Array,
                default: () => [],
                required: true
            },
            options: {
                type: Object,
                default: () => {},
                required: true
            }
        },
        data() {
            return {
                loading: false,
                filters: []
            }
        },

        methods: {
            handleSortChange({prop, column_type, order}) {
                // Customize your sorting method. Maybe it will get data from server.
                this.loading = true;
                let list = [].concat(this.rows);
                let sortFunction;
                if(order==='default'){
                    sortFunction = getSortFunction({prop: '__index__', order:'ascending', columnType: 'number'})
                }else{
                    sortFunction = this.options.sortFunctions && this.options.sortFunctions[column_type] || getSortFunction({prop, order, columnType: column_type});
                }
                list.sort(sortFunction);
                setTimeout(() => {
                    this.loading = false;
                    this.rows = [].concat(list);
                }, 1000);
            },
            handleFilter() {
                this.loading = true;
                this.filters = [{
                    args: [2],
                    key: 'songs',
                    filterName : 'numNE',
                }, {
                    args: [7],
                    key: 'age',
                    filterName : 'numLT',
                }];
                const f = row => this.filters.map(getFilterFunction).every(g => g(row));
                const result = this.rows.filter(f);
                setTimeout(() => {
                    this.loading = false;
                    this.rows = [].concat(result);
                }, 1000);
            },
            filterAdd(){
                let newFilter={};
                this.filters.concat(newFilter);
            }
        }
    }
</script>
