<template>
  <div>
      <vue-grid :headers="headers" :rows="rows" :options="options"></vue-grid>
  </div>
</template>

<script>

    export default {
        data(){
            return{
                rows: [],
                headers:[
                    {label:'Date', prop:'date', type:'date', sortable:true},
                    {label:'Name', prop:'name', width:'100', fixed:'left', sortable:true},
                    {label:'Address', prop:'address', width:'150', align:'right'},
                    {label:'Birthday', prop:'birthDay', type:'date'},
                    {label:'Songs', prop:'songs', type:'int', width:'100',sortable:true},
                    {label:'Province', prop:'province', width:'120'},
                    {label:'City', prop:'city'},
                    {label:'Country', prop:'country'},
                    {label:'Age', prop:'age', type:'int', width:'90',sortable:true},
                    {label:'Age2', prop:'age', type:'int', width:'90'},
                    {label:'Age3', prop:'age', type:'int', width:'90'},
                    {label:'Age4', prop:'age', type:'int', width:'90'},
                    {label:'Salary', prop:'salary',type:'float', sortable:true},
                    {label:'Desc', prop:'desc'}
                ],
                options:{
                    table_height:600,
                }
            }
        },
        mounted () {
            const item = {
                __index__: 0,
                date: '2017-12-02',
                name: '',
                address: 'Shenzhen,China',
                birthDay: '1988-09-08',
                songs: 0,
                province: 'Guangdong',
                city: 'Shenzhen',
                country: 'China',
                age: 30,
                salary: 12000,
                desc: 'no desc'
            };
            const rows = [];

            for(let i = 0; i < 21; i++) {
                if((i+1)%3===0){rows.push(Object.assign({}, item, {
                    __index__: i+1,
                    name: `test${i+1}`,
                    songs: i+1,
                    age: 3
                }));}else{
                    rows.push(Object.assign({}, item, {
                        __index__: i+1,
                        name: `test${i+1}`,
                        songs: i+1,
                        age: (i+1)*2
                    }));
                }
            }

            this.rows = [].concat(rows.map(Object.freeze));
        },
    }
</script>
